table {
    font-size: 17px;
}

.table-order {
    font-size: 14px;
}

.table-order ul li a i {
    font-size: 20px;
}

table ul li a i {
    font-size: 22px !important;
}

.no-wrap {
    white-space: nowrap;
}
