.sidebar-link {
    color: #00AC46;
    background-color: #22242b;
}
.sidebar-link:hover {
    background-color: #00AC46 !important;
    color: #262932 !important;
}

.sidebar-link:hover i,
.sidebar-link:hover svg,
.sidebar-link:hover span {
    color: #262932 !important;
}

.sidebar-link-active {
    color: #262932;
    background-color: #00AC46;
    border-radius: 12px;
    margin: 5px 0;
}

.sidebar-link-active i,
.sidebar-link-active svg,
.sidebar-link-active span {
    color: #262932 !important;
    background-color: #00AC46 !important;
}

input[type=file]::file-selector-button {
    border: 2px solid ;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #fff;
    color: #262932;
  }
  


